Skip to content
Search or jump to…
Pull requests
Issues
Marketplace
Explore
 
@HIGH238 
PrinceRaaaj
/
login-register-MERN-LocalStorage
Public
Code
Issues
Pull requests
Actions
Projects
Security
Insights
login-register-MERN-LocalStorage/login-and-register-backend/.gitignore
@PrinceRaaaj
PrinceRaaaj Login Register MERN App - with LocaleStorage
Latest commit 48b2c3b on Aug 12, 2021
 History
 1 contributor
23 lines (18 sloc)  310 Bytes

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
Footer
© 2022 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
You have no unread notifications